<html>
  <head>
      <title>It's all about the cake</title>
  </head>
  <body>
      <div>
          <h1>It's all about the cake</h1>
          <p>This blog explores my adventures into designing and making the wedding cake for two friends. Highlights and lowlights of the challenges, flavour explorations and reflections on each stage are included. Read on to join the journery.</p>
      </div>

      <div>
          <p>Post 1</p>
          <h2><a href="/">It's all about the cake</a></h2>
          <p>The initial challenge</p>
      </div>
  </body>
</html>
